.container {

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
  }

  &__field {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
  }

  textarea {
    resize: vertical;
    border-radius: 5px;
    padding: 10px;
    font-family: Tahoma, sans-serif;
  }

  &--label {
    min-width: 60px;
    font-family: Tahoma, sans-serif;
  }

  &--input {
    min-width: 220px;
    font-family: Tahoma, sans-serif;
    border: none;
    padding: 10px;
  }

  &__btn-container {
    width: 33%;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
